<%= form_for([@article, @article.comments.build]) do |f| %>
<div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :commenter, class:"form-control" %>
</div>
<div class="field">
    <%= f.label :Message %><br>
    <%= f.text_area :body, class:"form-control" %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
